.tb-img {
    height: 167px !important;
}
.tb-img img {
    height: 100%;
}
#topnav {
    position: initial;
}
.content {
    width: calc( 100% - 270px );
    margin: 2rem auto;
    padding: 0px 5px;
}
.toggled .content {
    width: calc( 100% - 50px );
}

.bg-custom {
    background-color: #FDB402 !important
}
.navbar-brand {
    font-size: 14px;
}
.carousel-item a {
    text-align: center !important;
}
.BT{
    height: 37px;
    background-color: #fdb402;
    border: unset;
    color: #212529;
}
.list-group-item-action {
    text-align: left !important;
}
.select{
    margin: 10px;
    border-radius: 10px;
    border-color: #0b0b0b;
    background-color: #fdb402;
    width:40px;
}

.text-label{
    font-weight:normal !important;
    color: #354558 !important;
}
.table {
    width: 100% !important;
    margin-right: unset !important;
    color: #212529;
    overflow-x: auto;
}
.list-group-item.active {
    color: #596066 !important;
    background-color: #bbb !important;
    border: unset !important;
}