.navbar > a {
    display: block !important;
    color: #242424 !important;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    line-height: 18px;
    border-radius: 5px;
    padding-left: 20px !important;
    font-size: 14px !important;
}
    .content {
    max-width: 100%;
    display: block;
    clear: both;
    padding-top: 20%;
    position: relative;
    padding-right: 0%;
}
#topnav .navbar-custom {
    background-color: #FDB402 !important;
}

.col-md-2>.card-body{
    text-align: center;
    border:1px solid #ddd;
    height: 120px;
}
.col-md-2>.card-body a{
    display: block;
margin:0 auto ;}
.col-md-2>.card-body a img{
    display: block;
margin:0 auto ;}
.card.col-lg-12.bg-lighten-first{
    padding: 10px;
}
h1
{
    font-size: 26px !important;
}

.strok .card-body{
    border:1px solid #ddd;
}

#navbarNav .navbar-nav li a {
    display: block;
    color: #242424 !important;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    line-height: 18px;
    border-radius: 5px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 14px !important;
}
#navbarNav .navbar-nav {
    padding-right: 27rem 
}
@media (max-width: 1330px){
#navbarNav .navbar-nav {
    padding-right: 26rem ;
}
}
@media (max-width: 1266px){
    #navbarNav .navbar-nav {
        padding-right: 40rem ;
    }
    }
    @media (max-width: 1135px){
        #navbarNav .navbar-nav {
            padding-right: 31rem ;
        }
        } @media (max-width: 990px){
        #navbarNav .navbar-nav {
            padding-right: 22rem;
        }
        }
.nav-link {
    width: unset;
}
.navbar-toggler {
    margin-bottom: 5px !important;
    padding: unset !important;
}